.Card {
    display: flex;
    flex-direction: column;
    background-color: #0091AD;
    border: 3px solid #0091AD;
    border-radius: 5px;
    color: #100;
    margin: 10px;
    min-width: 500px;
    max-width: 500px;
}

.Card .Title {
    display: flex;
    justify-content: center;
    font-weight: bold;
    padding: 10px 5px;
}

.Card .Content {
    flex-grow: 1;
    padding: 20px;
    background-color: #FFF ;
}